/* .custom-col {
    display: inline-block;
    margin-right: 10spx; 
    margin-bottom: 30px;
  } */
  
.container{
    padding: 0;
}

.restaurants-list{
  background-color: #ffedc8;
  margin-top: 15px;
  justify-content: center;
}

.customized-restaurant-card {
    width: 400px; 
    height: 500px; 
    margin-left: 10px;
  }
  
  .card-img-top {
    width: 100%; /* Ensure the image takes up the full width of the card */
    height: 250px; /* Set the height of the image */
    object-fit: cover; /* Ensure the image fills its container without stretching */
  }
  

  
  .card-body {
    flex: 1; /* Make the title part take up the available vertical space */
  }
  
  .customized-h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  .custom-icon{
    color: #070707;
    margin-right: 5px;
    margin-left: 9px;
  }
/* 
  .text-muted{
    color: #000;
    margin-right: 15px;
  } */

  .custom-card-footer{
    background-color: #474747;
  }

  .custom-card-text{
    color:#ffffff;
  }
