@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #FDFFEA;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-right: 10%;
  padding-left: 10%;
}
