
#auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-container h1{
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
  }

.auth{
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:20px;
    border: none;
    width: 400px;
    height: 40px;
}

.auth-container{
    background-color: #fff;
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#auth-button{
    padding: 15px 30px;
    font-size: 15px;
    width:fit-content;
    margin: 10px;
}

.log-in-pic{
    height:calc(100vh - 100px);
}

.login-wrapper{
    height:calc(100vh - 100px);
    /* overflow: hidden; */
}

@keyframes panInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes panInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.log-in-pic-left {
    animation: panInLeft 1s ease-in-out forwards;
}

.log-in-pic-right {
    animation: panInRight 1s ease-in-out forwards;
}