/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


#log-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log-in-container h1{
    font-weight: bold;
    font-size: 40px;
    margin: 50px;
  }

.log-in{
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:20px;
    border: none;
    width: 400px;
}

.log-in-container{
    background-color: #fff;
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#log-in-button{
    padding: 15px 30px;
    font-size: 15px;
    width:fit-content;
    margin: 30px;
}