.profile-wrapper{
    gap: 100px;
}

.profile-section{
    margin: 20px 0px;

}

.profile-details-wrapper{
    margin: 50px 0px;
    width: 800px;
    /* background-color: blue; */
}

.profile-card{
    /* background-color: aqua; */
    width: 800px;
    height: fit-content;
    padding: 50px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border: 0.5px solid black;
}

.prof-cancel-btn{
    background-color: rgb(205, 205, 205);
    color: black;
    font-weight: bold;
}