.report-wrapper{
    height: calc(100vh - 100px);
}

.report-form{
    border: 2px solid #c6c6c6;
    border-radius: 20px;
    padding: 10px 60px;
    /* background-color: aqua; */
}

.form-check{
    margin-right: 10px;
    margin-bottom: 30px;
}

.report-textarea{
    /* height:150px;
    width: 600px; */
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FFE2AB;
    border-radius: 10px;
    border: none;
}

.report-label{
    font-weight: bold;
}

.report-header{
    position: relative;
    width:700px;
    gap:20px;
    margin-bottom: 20px;
}

.report-back{
    position:absolute;
    left:0;
    margin-bottom: 20px;
}