.reset-wrapper{
    height: calc(100vh - 100px);
}

.reset-form{
    border: 2px solid #c6c6c6;
    border-radius: 20px;
    padding: 30px 60px;
}

.form-check{
    margin-right: 10px;
    margin-bottom: 30px;
}

.reset-header{
    position: relative;
    width:800px;
    /* gap:80px; */
    /* margin-left: 0px; */
}

.reset-title{
    font-size: 40px;
    position: relative;
    margin-bottom: 50px;
}

.reset-back{
    position:absolute;
    left:0;
    margin-bottom: 80px;
}

.reset-eye{
    margin-top: 35px;
}