#main-container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#down{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#left{
    margin-top:2%;
    margin-right: 15%;
    margin-bottom: 5%;


}
#disclaimer{
    background-color: gray;
    border-radius: 20px;
    padding: 15px;
    font-size: 10px;
    max-width: 500px;
}
#form{
    padding-left: 10%;
    margin-left: 5%;
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
#input{
    width:200%;
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:5px;
    border: none;
}
#inputs{
    font-size:12px;
}
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; /* Ensure it's on top of other content */
}
#popup{
    background-color: #fff;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 10;
}

#form-container{
    margin-top:3%;
    margin-left: 5%;
    margin-bottom: 35%;
    margin-right: 10%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

h2{
    padding-left: 20%;
    width:150%;
}

#submit-button {
    margin-left: 75%;
}

#Check{
    margin: 10px;;
}

#Rtext{
    padding: 5px;
    margin: 5px auto;
    width: 200%;
    text-align: center;
    color: red;
}

#checkbox{
    margin: 10px;
}