@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#Rmain-container{
    /* padding-left: 5%;
    padding-right: 5%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 0px;
}
#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
#Rdown{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Fleft{
    margin-right: 5%;
    margin-left: 5%;
}
#disclaimer{
    background-color: rgb(212, 211, 211);
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    margin-bottom: 10%;
}
#disclaimer h3{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
#disclaimer p{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}
#Rform{
    /* padding-left: 10%; */
    /* margin-left: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Rinput{
    width:580px;
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:5px;
    border: none;
}
#Rtimeinput{
    width:275px;
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:5px;
    border: none;
}
#Rinputs{
    font-size:12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; /* Ensure it's on top of other content */
}
#popup{
    background-color: #fff;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 10;
}
#warn{
    color: red;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    border: none;
}

#Rform-container{
    margin-top:3%;
    margin-left: 5%;
    margin-bottom: 35%;
    margin-right: 5%;
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rtitle{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#Rform-container h2{
    margin-left: 0px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


#submit-button {
    margin-left: 75%;
}

#Check{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Rtext{
    display: contents;
    text-align: center;
    color: red;
}

#checkbox{
    margin: 10px;
    
}

#form-submitButton {
    /* display: flex; */
    color: white;
    background-color: black;
    width: 140px;
    /* align-items: flex-center;
    justify-content: center; */
    /* margin-left: 40%; */
    /* margin-right: 50%; */
  }
#card{
    width: 80%;
    font-size: small;
    margin-right: 5%;
}
#card h1
{
    font-size: 30px;
}

#buttonPopupCancel{
    background-color: gray;
}
button:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px lightgray;
}

button:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);

}

.back-btn:hover{
    color: darkgoldenrod;
}

.bi-calendar2-check-fill{
    color: #ff7f0e;
    font-size: 300%;
}

.bi-calendar-x-fill{
    color: #ff7f0e;
    font-size: 300%;
}