#Rmain-container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Rdown{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Fleft{
margin-right: 5%;
}
#disclaimer{
    background-color: rgb(212, 211, 211);
    border-radius: 20px;
    padding: 15px;
    font-size: 10px;
    max-width: 500px;
    margin-bottom: 10%;

}
#Rform{
    padding-left: 10%;
    margin-left: 5%;
    width:fit-content;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
#Rinput{
    width:100%;
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:5px;
    border: none;
    
}

#Rinput{
    width:100%;
    background-color: #FFE2AB;
    border-radius: 30px;
    padding: 10px;
    margin:5px;
    border: none;
    
}
#Rinputs{
    font-size:12px;
}
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; /* Ensure it's on top of other content */
}
#popup{
    background-color: #fff;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    width: 500px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 10;
}

#Rform-container{
    margin-top:3%;
    margin-left: 5%;
    margin-bottom: 35%;
    margin-right: 10%;
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#form-header{
    width:100%;
    margin-right:15%;
    margin-left: 10%;
    text-align: center;
}

#submit-button {
    margin-left: 75%;
}

#Check{
    margin: 10px;;
}

#Rtext{
    padding: 5px;
    margin: 5px auto;
    width: 100%;
    text-align: center;
    color: red;
}

#checkbox{
    margin: 10px;
    
}

#submitButton {
    display: flex;
    color: white;
    background-color: black;
    width: 150px;
    align-items: flex-end;
    justify-content: center;
    margin-left: 33%;
    margin-right: 10%;
  }