.custom-icon {
  color: #fca311;
  margin-right: 5px;
}

.btn-default {
  background-color: #fca311;
  color: black;
  align-items: center;
  margin-left: 30px;
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review-card p {
  margin: 0;
  margin-bottom: 5px;
}

.review-photo {
  width: 250px;
  height: 150px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#timePost {
  margin-left: 20px;
}

.star-icon {
  color: #fca311; 
}

.filled-star {
  fill: #fca311; 
}

.empty-star {
  fill: gray;
}

.btn-like{
  background-color: transparent;
  color: black;
  margin-right: 50px;
}
.btn-share{
  background-color: transparent;
  color: black;
}

