.custom-icon {
  color: #fca311;
  margin-right: 5px;
}

.carousel-inner {
  /* background-color: rgb(243, 243, 243) !important; */
  border-radius: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.back-btn {
  font-size: 20px;
  cursor: pointer;
}

/* .images-container {
  display: flex;
  max-width: 100%;
  overflow: scroll;

  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  background-color: #edd2a8;
  scrollbar-width: thin;
} */

/* .image {
  width: 500px;
  height: 400px;
  margin: 5px;
  border-radius: 8px;
} */

/* .nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #fca311;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
} */

/* .App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
} */
.dropdown-view-more{
  margin-left: 1115px;
}
.button-add-reviews {
  background-color: #fca311;
  color: black;
  align-items: center;
  white-space: nowrap;
  width: 150px;
  cursor: pointer;
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review-card p {
  margin: 5px;
}

.review-photo {
  width: 250px;
  height: 150px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name-and-view-more {
  display: flex;
  align-items: center;
}
#timePost {
  margin-left: 20px;
}

.star-icon {
  color: #fca311;
}

.filled-star {
  fill: #fca311;
}

.empty-star {
  fill: gray;
}

.bi-star-fill {
  color: #fca311;
}

.bi-arrow-left-circle {
  color: #fca311;
}
#star-container {
  display: inline-flex;
  align-items: center;
}
.photo-buttons {
  display: flex;
  align-items: center;
}
.btn-like {
  background-color: transparent;
  color: black;
  margin-right: 30px;
  margin-left: 0px;
  white-space: nowrap;
}

#dropdownMenuButton {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 15px;
}
#dropdownViewMoreButton{
  background-color: transparent;
  color: black;
  border: none;
  font-size: 15px;
  margin-left: 1115px;
}
.info-reviews-rating-section {
  display: flex;
  align-items: center;
  border: 1px solid #ff7f0e;
  border-radius: 8px;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ai-center {
  font-size: 40px;
  align-items: center;
}

.rating-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.rating-bar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.star-indicator {
  margin-right: 20px;
}

.percentage {
  position: relative;
  color: #000;
  margin-left: 20px;
}

.review-info {
  margin-right: 300px;
  justify-content: space-between;
  align-items: flex-start;
}

.review-options {
  align-items: flex-end;
  margin-left: 1200px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: none;
}

#reserve-btn {
  padding: 15px 30px;
  font-size: 16px;
  width: fit-content;
  /* margin: 30px; */
}

.rectangle-box {
  width: 500px;
  height: 10px;
  background-color: gray;
}

.fillable-box {
  background-color: orange;
}

.btn-default {
  width: 150px;
}
