.custom-icon {
  color: #fca311;
  margin-right: 5px;}


  .images-container {
    display: flex;
    max-width: 100%;
    overflow: scroll;
    /* Add the following lines for smooth scrolling */
    scroll-behavior: smooth;
    transition: scroll 0.3s ease-in-out;
    background-color: #edd2a8;
    scrollbar-width: thin;
    /* scrollbar-color: #edd2a8; */
  }

  .image {
    width: 500px;
    height: 400px;
    margin: 5px;
    border-radius: 8px;
  }
  
  .nav-btn {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #FCA311;
    border-radius: 6px;
    height: 200px;
    width: 30px;
    margin: 5px;
  }

  .App {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.btn-default {
  background-color: #fca311;
  color: black;
  align-items: center;
  margin-left: 30px;
}

.review-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.review-card p {
  margin: 0;
  margin-bottom: 5px;
}

.review-photo {
  width: 250px;
  height: 150px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#timePost {
  margin-left: 20px;
}

.star-icon {
  color: #fca311; 
}

.filled-star {
  fill: #fca311; 
}

.empty-star {
  fill: gray;
}

.btn-like{
  background-color: transparent;
  color: black;
  margin-right: 50px;
}
.btn-share{
  background-color: transparent;
  color: black;
}

