@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

*{
  font-family: "Preahvihear", sans-serif;
}
nav{
  color: black;
  background-color: #FBC355;
  width: 100%;
  position:relative;
  padding: 4px 5px;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  
}
nav li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

#invisible{
  background-color: transparent;
  color: black;
  font-size: 13px;
  border: 0;
  cursor: pointer;
}


#logo{
  width: 14%;
}