.profile-sec{
    height:fit-content;
    width:fit-content;
}

.profile-edit{
    position:relative;
    /* background-color: aqua; */
    width:250px;
    height:fit-content;
}
.profile-pic{
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 0.3px solid black;
}

input[type="file"] {
    display: none;
}

.edit-icon{
    color: rgb(0, 0, 0);

}

.custom-file-upload-button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    background-color: rgb(207, 207, 207);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    left:200px;
    bottom: 8%;
}

.upload-image-btn{
    width: fit-content;

}

.orange-btn{
    width: fit-content;
    background-color: orange;
    font-weight: bold;
    color: black;
    font-size: 13px ;
    /* padding: 15px 30px; */
    /* border-radius: 30px; */
}

.log-out-btn{
    width: fit-content;
    /* background-color: orange; */
    font-weight: bold;
    color: white;
    font-size: 13px ;
    padding: 13px 40px; 
    /* border-radius: 30px;*/
}



