.profile-sec{
    height: calc(100vh - 90px);
    width:fit-content;
    /* background-color: aqua; */

}

.profile-edit{
    position:relative;
    /* background-color: aqua; */
    width:250px;
    height:fit-content;
}
.profile-pic{
    object-fit: cover;
    width:250px;
    height:250px;
    border-radius: 50%;
    border: 0.3px solid black;
}

input[type="file"] {
    display: none;
}

.edit-icon{
    color: rgb(0, 0, 0);

}

.custom-file-upload-button{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    background-color: rgb(207, 207, 207);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position:absolute;
    left:200px;
    bottom: 8%;
}

.upload-image-btn{
    width: fit-content;

}

.orange-btn{
    width: fit-content;
    background-color: orange;
    font-weight: bold;
    color: black;
    font-size: 13px ;
    /* padding: 15px 30px; */
    /* border-radius: 30px; */
}



.log-out-btn{
    width: fit-content;
    /* background-color: orange; */
    font-weight:bolder;
    color: white;
    font-size: 13px ;
    padding: 13px 40px; 
    /* border-radius: 30px;*/
    /* margin-bottom: 100px; */
}

#log-out-popup-title{
    font-size: 35px;
    margin-bottom: 3px;
    font-weight: bold;
}


.popup-buttons{
    display: flex;
    flex-direction: row;
    gap:40px;
    margin: 20px;
    margin-top: 20px;
}

#cancel-button{
    border-radius: 20px;
    background-color: gray;
    color: #ffffff;
    font-size: 15px;
    padding: 14px 10px;
    width: 150px;
    margin-top: 5px;
    cursor: pointer;
}

#yes-button{
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: #000000;
    color: #FDFFEA;
    font-size: 15px;
    padding: 14px 10px;
    width: 150px;
    margin-top: 5px;
    cursor: pointer;
}




