/* .workshop-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 400px; 
  height: 500px;
} */

.customized-workshop-card{
  width: 400px; 
  height: 500px; 
}



.workshop-img {
  width: 100%;
  height: 250px;
  /* border-radius: 8px; */
  object-fit: cover
}

.workshop-details {
  margin-top: 20px;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.date-time,
.available-slots {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FBC355;
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #e0ac36;
}

.star-icon {
  font-size: 20px;
  color: #FBC355;
}

.custom-add-schedule{
  background-color:#FBC355;
  border:3px #FBC355;
  border-radius: 20px;
  color: #000;
  width: fit-content;
  margin: 16px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: bold;
  padding-left: 70px;
  padding-right: 70px;
}

.custom-add-schedule:hover{
  background-color:#fda400;
  border-color: 3px #000;
  color: #000;

}

.star-icon{
  margin-left: 5px;
  cursor: pointer;
}

.star-icon:hover{
  color:#fd7600;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit the text to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on your line height, here assuming 1.5em per line */
}